{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">

    {% if user.is_authenticated %}
    
    <h3 class="mt-5"><strong>Delete Alias:</strong> {{ link.short_alias }}</h3>
    <p>&nbsp;</p>
    <div class="row">
      <form method="POST" action="{% url 'shortener-delete-all' link.id %}?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
        {% csrf_token %}
        <p><strong>Are you sure you want to delete this?</strong></p><br />

        <table class="table">
            <tbody>
              <tr>
                <th class="table-primary">Title</th>
                <td>{{ link.title }}</td>
              </tr>
              <tr>
                <th class="table-primary">Short</th>
                <td><a href="{% url 'redirect-url' link.short_alias %}" target="_blank"><strong>https://psinergy.link/{{ link.short_alias }}</strong></a></td>
              </tr>
              <tr>
                <th class="table-primary">Tags</th>
                <td>
                  {% for tag in link.tags.all %}
                    <span class="badge bg-success">{{ tag.name }}</span>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <th class="table-primary">Original</th>
                <td><a href="{{ link.long_url }}" target="_blank">{{ link.long_url }}</a></td>
              </tr>
              <tr>
                <th class="table-primary">Views</th>
                <td>{{ link.clicks }}</td>
              </tr>
              {% if user.is_staff %}
              <tr>
                <th class="table-primary">User</th>
                <td>{{ link.owner.email }}</td>
              </tr>
              {% endif %}
              <tr>
                <th class="table-primary">Created</th>
                <td>{{ link.created_at|date:"M j Y, g:i A" }}</td>
              </tr>
            </tbody>
        </table>

        {{ form }}
        <p>&nbsp;</p>
        <p><input type="submit" value="Yes, Delete" class="btn btn-danger rounded-pill px-3">&nbsp;&nbsp;<a href="{% url 'shortener-list-all' %}?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-secondary rounded-pill px-3">Cancel</a></p>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </form>

    <!-- row end -->
    </div>

    {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to see this page.</p>
    {% endif %}

  <!-- container end -->
  </div>

</main>

{% endblock %}