{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container" align="center">
    
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    {% if user.is_authenticated %}
    {% if link.owner == user %}
    <p><a href="{% url 'shortener-create' %}"><button class="btn btn-primary rounded-pill px-3" type="button">Shorten up another URL yo</button></a></p><br />
    {% endif %}
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
        
          {% if link.owner == user %}
          <h3>Shortened URL: <a href="{% url 'redirect-url' link.short_alias %}" target="_blank">{{ link.short_alias }}</a></h3>
          <br />
          <p><strong>{{ link.title}}</strong><br />
          <a href="{% url 'redirect-url' link.short_alias %}" target="_blank"><strong>https://psinergy.link/{{ link.short_alias }}</strong></a></p>
          
          <br />
          <p><strong>Original URL:</strong><br /> {{ link.long_url}}</p>

          <p>&nbsp;</p>
          <img src="{% static 'img/black-dynamite-yeah-i-can-dig-it.gif' %}" width="350" alt="Yeah, I can dig it.">
        
          {% else %}

          <p>&nbsp;</p>
          <h3>You ain't authorized to view this page.</h3>

          {% endif %}

        </div>
      </div>

    <!-- row end -->
    </div>

    {% else %}
    <p>Must be logged in to view.</p>
    {% endif %}

  <!-- container end -->
  </div>

</main>

{% endblock %}
