{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>

    {% if user.is_authenticated %}
    
    {% if link.owner == user %}
    <h2 class="mt-5"><strong>Delete Alias:</strong> {{ link.short_alias }}</h2>
    <p>&nbsp;</p>
    <div class="row">
      <form method="post">{% csrf_token %}
        <p><strong>Are you sure you want to delete {{ link.short_alias }} ?</strong></p><br />
        <p><strong>Title: </strong>{{ link.title }}</p>
        <p><strong>Alias: </strong><a href="{% url 'redirect-url' link.short_alias %}" target="_blank">{{ link.short_alias }}</a></p>
        <p><strong>Original URL: </strong><a href="{{ link.long_url }}" target="_blank">{{ link.long_url }}</a></p>
        {{ form }}
        <p>&nbsp;</p>
        <p><input type="submit" value="Yes, Delete" class="btn btn-primary rounded-pill px-3">&nbsp;&nbsp;<a href="{% url 'shortener-list' %}" class="btn btn-secondary rounded-pill px-3">Cancel</a></p>
    </form>

    <!-- row end -->
    </div>
    {% endif %}
    
    {% else %}
    <p>Must be logged in to view.</p>
    {% endif %}

  <!-- container end -->
  </div>

</main>

{% endblock %}