{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container" align="center">

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    {% if user.is_authenticated %}

    <p><a href="{% url 'shortener-create' %}"><button class="btn btn-primary rounded-pill px-3" type="button">Shorten us up another link</button></a></p><br />

    <div class="row">
      <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-10 table-responsive">

          {% if link.owner != user %}
          <p>This link has been shortened already.</p>
          {% endif %}

          <p><button id="copyBtn" class="btn btn-success rounded-pill px-3">Copy Title &amp; Short Link</button>&nbsp;&nbsp;<a href="{% url 'shortener-update' link.id %}"><button id="editBtn" class="btn btn-info rounded-pill px-3">Edit This</button></a></p>

          <div id="copyMessage"></div><br />

          <table class="table">
            <tbody>
              <tr>
                <th class="table-primary">Title</th>
                <td id="shortTitle">{{ link.title }}</td>
              </tr>
              <tr>
                <th class="table-primary">Short</th>
                <td id="shortAlias"><a href="{% url 'redirect-url' link.short_alias %}" target="_blank"><strong>https://psinergy.link/{{ link.short_alias }}</strong></a></td>
              </tr>
              <tr>
                <th class="table-primary">Tags</th>
                <td>
                  {% for tag in link.tags.all %}
                    <span class="badge bg-primary">{{ tag.name }}</span>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <th class="table-primary">Original</th>
                <td><a href="{{ link.long_url }}" target="_blank">{{ link.long_url }}</a></td>
              </tr>
              <tr>
                <th class="table-primary">Views</th>
                <td>{{ link.clicks }}</td>
              </tr>
            </tbody>
          </table>

        </div>
      <div class="col-sm-1">&nbsp;</div>

    <!-- row end -->
    </div>
    <script src="{% static 'js/copy-button.js' %}"></script>

    {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to see this page.</p>
    {% endif %}

  <!-- container end -->
  </div>

</main>

{% endblock %}
