{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<!-- JavaScript for randomizing button text -->
<script>
	const button = document.getElementById('randomTextButton');
	const buttonTexts = [
		"Shrink that link!",
		"Give'r!",
		"Shrink that mofo!",
		"Shrink it or link it!",
		"Shrink any link that comes around!",
	];
	// Set random button text on page load
	const randomIndex = Math.floor(Math.random() * buttonTexts.length);
	button.textContent = buttonTexts[randomIndex];
</script>


<!-- Begin page content -->
<main class="flex-shrink-0">
	<div class="container" align="center">

		<p>&nbsp;</p>
		<h1 class="mt-3">&nbsp;</h1>
		<br />

		{% if not form.instance.pk %}

		<form id="shorten-form" method="POST">
			{% csrf_token %}
			{{ form|crispy }}
			<button id="randomTextButton" type="submit" class="btn btn-primary rounded-pill px-3">Shrink that link!</button>
		</form>
		<p>&nbsp;</p>
		<img src="{% static 'img/black-dynamite-can-you-dig-it.gif' %}" width="350" alt="Can you dig it?">

		{% else %}

		<p><a href="{% url 'shortener-create' %}"><button class="btn btn-primary rounded-pill px-3" type="button">Shorten another URL</button></a></p><br />

		<p id="result"></p>
		<p>&nbsp;</p>
		<img src="{% static 'img/black-dynamite-i-can-dig-it.gif' %}" width="350" alt="I can dig it.">

		{% endif %}
	<!-- container end -->
	</div>

</main>

{% endblock %}
