PRODUCTION=False
PROD_SECRET_KEY=
PROD_SECRET_KEY_FALLBACK=
PROD_ALLOWED_HOSTS='psinergy.link'
SECURE_SSL_HOST='psinergy.link'
SECURE_SSL_REDIRECT=True
SECURE_REFERRER_POLICY='same-origin'
SECURE_HSTS_SECONDS=3600
SECURE_HSTS_PRELOAD=True
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
X_FRAME_OPTIONS='DENY'
CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SECURE=True
SESSION_COOKIE_AGE=3600
SESSION_COOKIE_NAME='sessionid'
SESSION_COOKIE_DOMAIN='psinergy.link'
SESSION_COOKIE_SAMESITE='Strict'
DEBUG_SECRET_KEY=
DEBUG_ALLOWED_HOSTS='localhost, 127.0.0.1'
DB_ENGINE=django.db.backends.postgresql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
SITE_ID=1