annotated-types==0.7.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
cffi==1.17.1
confusable-homoglyphs==3.3.1
crispy-bootstrap5==2024.10
cryptography==44.0.0
Django==4.2.18
django-bootstrap-datepicker-plus==5.0.5
django-crispy-forms==2.3
django-registration==5.1.0
docutils==0.21.2
psycopg==3.2.4
psycopg-binary==3.2.4
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
python-decouple==3.8
python-memcached==1.62
sqlparse==0.5.3
typing_extensions==4.12.2
