<!DOCTYPE html>
<html lang="en">
<head>

	{% load static %}

  <title>{% if page_title %}{{ page_title }}: {% endif %}BioDigCon.Link - Exposing Biodigital Convergence</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="author" content="Researchers">
  <meta name="description" content="URL shortener for researchers.">
  <meta name="language" content="english">
  <meta name="robots" content="noindex,nofollow">
  <meta name="copyright" content='Copyright {% now "Y" %}'>
  <meta name="HandheldFriendly" content="true"/>

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="BioDigCon.Link - Exposing Biodigital Convergence" />
  <meta property="og:description" content="URL shortening service for researchers." />
  <meta property="og:url" content="https://biodigcon.link/" />
  <meta property="og:image" content="{% static 'img/musashi-truth-1200.jpg' %}" />

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<!-- Custom Styles -->
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>
  
<body>

{% include 'navbar.html' %}

<div class="container">
  <a id="#top"></a>

  {% block content %}{% endblock %}

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  
  {% include 'footer.html' %}

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
