<hr>
<footer class="text-muted">
  <div class="container" align="center">
    <p class="float-right">
      <a href="#top">Back to top</a>
    </p>
    <p>&copy; {% now "Y" %} Psinergy.Link</p>
    <p>
      <a style="margin-right:25px;" href="{% url 'terms' %}">Terms of Use</a>
      <a style="margin-right:25px;" href="{% url 'privacy' %}">Privacy</a>
      <a style="margin-right:25px;" href="{% url 'help' %}">Help</a>
      <a style="margin-right:25px;" href="{% url 'license' %}">License</a>
    </p>
  </div>
</footer>
