<hr>
<footer class="text-muted">
  <div class="container" align="center">
    
    {% if user.is_authenticated %}
    <p class="float-right">
      <a href="#top">Back to top</a>
    </p>
    {% endif %}

    <p>&copy; {% now "Y" %} <a href="{% url 'home' %}">Psinergy.Link</a> [BETA]</p>
    
    <p>
      {% if user.is_authenticated %}
      <a style="margin-right:20px;" href="{% url 'guidelines' %}">Guidelines</a>
      <a style="margin-right:20px;" href="{% url 'help' %}">Help</a>
      {% endif %}
      <a style="margin-right:20px;" href="{% url 'terms' %}">Terms</a>
      <a style="margin-right:20px;" href="{% url 'privacy' %}">Privacy</a>
    </p>

  </div>
</footer>
