{% load static %}

<hr>
<footer class="text-muted">
  <div class="container" align="center">
    
    <p class="float-right">
      <a href="#top">Back to top</a>
    </p>

    {% if user.is_authenticated %}
    <p>&copy; {% now "Y" %} <a href="{% url 'shortener-list' %}">Psinergy.Link</a> [BETA]</p>
    {% else %}
    <p>&copy; {% now "Y" %} <a href="{% url 'shortener-list-open' %}">Psinergy.Link</a> [BETA]</p>
    {% endif %}

    <p>
      {% if user.is_authenticated %}
      <a style="margin-right:15px;" href="{% url 'guidelines' %}">Guidelines</a>
      <a style="margin-right:15px;" href="{% url 'help' %}">Help</a>
      {% endif %}
      <a style="margin-right:15px;" href="{% url 'terms' %}">Terms</a>
      <a style="margin-right:15px;" href="{% url 'privacy' %}">Privacy</a>
      <a style="margin-right:15px;" href="{% url 'faq' %}">FAQ</a>
      <a style="margin-right:15px;" href="{% url 'feed-rss' %}" target="_blank">RSS</a><a href="{% url 'feed-rss' %}" target="_blank"><img src="{% static 'img/icons8-rss-48.png' %}" alt="RSS" height="24" width="24"></a>
    </p>

    <p>This website is run by a private community of researchers.</p>
    <p>There is no affiliation with the Psinergy channel.</p>

  </div>
</footer>
