{% extends "base.html" %}

{% load crispy_forms_tags sgc_extras %}

{% block title %}Password Change{% endblock %}

{% block content %}

<p>&nbsp;</p>

{% row "justify-content-center" %}
	{% col "col-md-6" %}
		{% if next %}
			{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed, please <a href="{% url 'login' %}">login</a> with an account that has access.</p>
			{% else %}
			<p>Please <a href="{% url 'login' %}">login</a> to see this page.</p>
			{% endif %}
		{% endif %}
	{% endcol %}
{% endrow %}

{% if user.is_authenticated %}
{% row "justify-content-center" %}
	{% col "col-md-6" %}
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>Your password has been changed successfully.</p>
	<p>&nbsp;</p>
	{% endcol %}
{% endrow %}
{% endif %}

{% endblock %}