{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class="col col-md-6">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h3>Password Reset</h3>
        <p class="mb-3">Forgot your password? Enter your email address below, and we&rsquo;ll email
            instructions for setting a new one.</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mb-3">
                <button type="submit" class="btn btn-primary rounded-pill px-3">Reset Password</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}