{% extends "base.html" %}

{% load crispy_forms_tags sgc_extras %}

{% block title %}Password Change{% endblock %}

{% block content %}

{% row "justify-content-center" %}
	{% col "col-md-6" %}
		{% if next %}
			{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed, please <a href="{% url 'login' %}">login</a> with an account that has access.</p>
			{% else %}
			<p>Please <a href="{% url 'login' %}">login</a> to see this page.</p>
			{% endif %}
		{% endif %}
	{% endcol %}
{% endrow %}

{% row "justify-content-center" %}
	{% col "col-md-6" %}
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<h3>Change Password</h3>
	<p>&nbsp;</p>
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit" class="btn btn-primary rounded-pill px-3">Change Password</button>
	</form>
	{% endcol %}
{% endrow %}

{% endblock %}
