{% extends "base.html" %}

{% load sgc_extras %}

{% block content %}

<main class="flex-shrink-0">
	<div class="container" align="center">

		<p>&nbsp;</p>
		<p>&nbsp;</p>

		{% if request.user.is_authenticated %}

		<h3 class="mt-5">Profile</h3>
		<p>&nbsp;</p>

		{% row %}
		{% col "col-md-12 table-responsive" %}

		<table class="table">
			<tbody>
				<tr>
					<th class="table-primary">Account</th>
					<td>{{ request.user.email }}</td>
				</tr>
				{% if request.user.is_staff %}
				<tr>
					<th class="table-primary">Is Staff</th>
					<td>{% if request.user.is_staff == True %}Yes{% else %}No{% endif %}</td>
				</tr>
				{% endif %}
				<tr>
					<th class="table-primary">Short URLs</th>
					<td>{{ shorturl_count }}</td>
				</tr>
				<tr>
					<th class="table-primary">Last Login</th>
					<td>{{ request.user.last_login|date:"F j, Y - g:i A" }}</td>
				</tr>
				<tr>
					<th class="table-primary">Date Joined</th>
					<td>{{ request.user.date_joined|date:"F j, Y - g:i A" }}</td>
				</tr>
			</tbody>
		</table>

		<p>&nbsp;</p>
		<p><a href="{% url 'password_change' %}">Change Password</a></p>
		{% endcol %}
		{% endrow %}	

		{% else %}
		<p>Please <a href="{% url 'login' %}">login</a> to see this page.</p>
		{% endif %}

	</div>
</main>

{% endblock %}