{% extends "base.html" %}

{% load sgc_extras %}

{% block title %}Account Profile{% endblock %}

{% block content %}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% row %}
{% col %}
<p><strong>Account Email:</strong> {{ request.user.email }}</p>
<p>&nbsp;</p>
{% if request.user.is_staff %}
<p><strong>Admin:</strong> {% if request.user.is_superuser == True %}Yes{% else %}No{% endif %}</p>
<p><strong>Staff:</strong> {% if request.user.is_staff == True %}Yes{% else %}No{% endif %}</p>
<p><strong>Active:</strong> {% if request.user.is_active == True %}Yes{% else %}No{% endif %}</p>
{% endif %}
<p><strong>Last Login:</strong> {{ request.user.last_login|date:"F d, Y - g:i:s A" }}</p>
<p><strong>Date Joined:</strong> {{ request.user.date_joined|date:"F d, Y - g:i:s A" }}</p>
<p>&nbsp;</p>
{% endcol %}
{% endrow %}

{% endblock %}