{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
	<div class="container">

		<h2 class="mt-5"><strong>FAQ</strong></h2><br />

		<h4>What does this website do?</h4>
		<p>The main function is a Hyperlink/URL shortener.</p>

		<h4>What is a URL shortener?</h4>
		<p>A URL shortener condenses any valid web address into a shortened one. When the shortened URL is clicked, the browser redirected to the same original web address URL.</p>
		<p>To use the shortener, you copy and paste the full original link into this website, then it is condensed into a shareable link.</p>
		<p>Shortened links look like this: <strong>psinergy.link/abc123</strong>. You copy this shortened address then paste it anywhere you wish.</p>

		<h4>Why even bother do this?</h4>
		<p>Psinergist researchers are champions of content sharing, often Google Search URLs. Most of the time those search URLs are massive, ~1000 characters, taking up too much space when posted. So a shortened link is a more &quot;professional&quot; method. It also has became a useful ledger of bookmarks.</p>

		<h4>What are the main topics that are offered on this site?</h4>
		<p>The primary topic is related to exposing <u>biodigital convergence</u> technologies and its tentacles such as nanotechnology, biosensors, biophotonics, bio-cyber interfaces, WBAN, BCI, bio-cyber security, transhumanism, etc. Also network-centric warfare, which is another huge topic on its own.</p>

		<h4>How long do the links persist? Do they expire?</h4>
		<p>The shortened links do not expire. They'll persist as long as the service is available.</p>

		<h4>What gives you the credibility?</h4>
		<p>Every man and woman has the right to self-determination. We read &amp; study. We aren't confined by academic institutions, big industry, or NDA contracts. We are deeply disgusted by these technologies intended to cause permanent harm. We choose to learn and share this information to help save lives.</p>

		<h4>Who is behind this? Can I contact them?</h4>
		<p>Someone within the Psinergist community. Yes, on Telegram.</p>

	<!-- container end -->
	</div>

</main>

{% endblock %}