{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>

    {% if user.is_authenticated %}

    <h2 class="mt-5"><strong>Guidelines</strong></h2><br />

    <h5>A. Promote truth and intellectual accountability.</h5>
    <h5>B. Promote awareness of Biodigital Convergence related technologies.</h5><br />

    <p>Whenever anyone sees '<strong>psinergy.link/abc123</strong>', they should assume they'll see a fact-based research paper, journal, website article, journal, patent, or video, etc.</p><br />

    <p><strong>Please follow these guidelines:</strong></p>

    <p>
      <ol class="list-group list-group-numbered">
        <li>Psinergist researchers only. Please <u>do not</u> share your login.</li>
        <li>Please focus on shortening links that are topics related to <strong>Biodigital Convergence</strong>.</li>
        <li>Please limit the shortened links to fact-based content only.</li>
        <li>Any valid URL can be shortened. However, this service is intended for very long URLs, such as those ugly Google search links.</li>
        <li>If you have the knowledge to do so, please remove tracking tags in the URLs before you shorten them.</li>
        <li>Please try to refrain from shortening direct links to PDF files. Some browsers try to load the PDF file right in the browser instead of downloading it, which can be a problem for older devices.</li>
        <li>Secure URLs beginning with &quot;HTTPS&quot; are preferred.</li>
        <li>It goes without saying, Please <u>do not</u> shorten offensive or malicious links. Yes, Biodigital Convergence is wildly offensive, but you know what I mean.</li>
        <li><u>Do not</u> shorten affiliate links or promote crypto-currency. If caught, the account will be disabled.</li>
        <li>Please govern yourself accordingly.</li>
      </ol>
    </p>

    {% else %}
    <p>Must be logged in to view.</p>
    {% endif %}

     <!-- container end -->
  </div>

</main>

{% endblock %}