{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>

    {% if user.is_authenticated %}

    <h2 class="mt-5"><strong>Guidelines</strong></h2>
    <p>&nbsp;</p>

    <h4>The intention behind this service is to promote trust and intellectual accountability.</h4><br />

    <p>When the public sees a link to 'psinergy.link/abc123', they should expect to see a research paper, website article, journal, or video, etc.</p><br />

    <p><strong>Please follow these guidelines while using this service:</strong></p>

    <p>
      <ol class="list-group list-group-numbered">
        <li>Psinergist researchers only. Please do not share your login with anyone.</li>
        <li>Please focus on shortening links that are topics related to <strong>Biodigital Convergence</strong>.</li>
        <li>Please keep in mind, when the public sees a link to 'psinergy.link/abc123', they should expect to see a research paper, website article, journal, or video, etc.</li>
        <li>Any valid URL can be shortened. However, this service is intended for very long URLs, such as those ugly long Google search links.</li>
        <li>URLs cannot exceed 2048 characters. The Google search links are &#x007E;1000 characters so there is plenty of room.</li>
        <li>URLs beginning with &quot;HTTPS&quot; are preferred.</li>
        <li>Unfortunately, the title of some websites cannot be acquired due to security protections. In that case, the Title field of a shortened URL can be edited. You may have to go to the website using the original URL and then grab the title from there.</li>
        <li>After creating a shortened link, a detail page is presented so that you can copy both the Title <u>and</u> Shortened URL together, so that you can paste it anywhere you like.</li>
        <li>It goes without saying, Please do not use this service to shorten offensive or malicious links. Yes, Biodigital Convergence is wildly offensive, but you know what I mean.</li>
        <li>Govern yourself accordingly.</li>
      </ol>
    </p>

    {% else %}
    <p>Must be logged in to view.</p>
    {% endif %}

     <!-- container end -->
  </div>

</main>

{% endblock %}