{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>

    {% if user.is_authenticated %}

    <h2 class="mt-5"><strong>Guidelines</strong></h2>
    <p>&nbsp;</p>

    <h4>The intention behind this service is to promote trust and intellectual accountability.</h4><br />

    <p>Whenever the public sees a link to '<strong>psinergy.link/abc123</strong>', they should assume they'll see a research paper, website article, journal, or video, etc.</p><br />

    <p><strong>Please follow these guidelines:</strong></p>

    <p>
      <ol class="list-group list-group-numbered">
        <li>Psinergist researchers only. Please do not share your login.</li>
        <li>Please focus on shortening links that are topics related to <strong>Biodigital Convergence</strong>.</li>
        <li>Please keep in mind, when the public sees a link to 'psinergy.link/abc123', they should expect to see a research paper, website article, journal, or video, etc.</li>
        <li>Any valid URL can be shortened. However, this service is intended for very long URLs, such as those ugly long Google search links.</li>
        <li>URLs cannot exceed 2048 characters. The Google search links are &#x007E;1000 characters so there is plenty of room.</li>
        <li>URLs beginning with &quot;HTTPS&quot; are preferred.</li>
        <li>It goes without saying, Please do not use this service for offensive or malicious links. Yes, Biodigital Convergence is wildly offensive, but you know what I mean.</li>
        <li>Please govern yourself accordingly.</li>
      </ol>
    </p>

    {% else %}
    <p>Must be logged in to view.</p>
    {% endif %}

     <!-- container end -->
  </div>

</main>

{% endblock %}