{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Help</strong></h2>
    <p>&nbsp;</p>

    <p>The <strong>Psinergy.Link</strong> website functions as a hyperlink (URL) shortener.</p>

    <p>Simply paste your link into the URL box, then click '<strong>Shorten</strong>'.</p>

    <p>The shortened version of the URL will be presented at the top row on the <strong>Recent</strong> page. Copy that link then paste it anywhere.</p>

    <p>Click '<strong>Recent</strong>' to view the most recently shortened URLs.</p>

    <p>Click '<strong>Top</strong>' to view the most clicked URLs in descending order.</p>

    <p><strong>NOTE:</strong> Unfortunately, for websites that use Cloudflare or skill testing Captchas, this site is not able to acquire webpage titles at this time. Websites such as ResearchGate, MDPI, IEEE, Wiley, to name a few use these security methods just to access their public facing websites. Because of this, the title of the link you shortened may say "Title not available". You are able to update each link and write your own title, or grab it from the website from your own web browser.</p>

     <!-- container end -->
  </div>

</main>

{% endblock %}