{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">

    <h2 class="mt-5"><strong>Help</strong></h2><br />

    {% if user.is_authenticated %}
    
    <p><strong>Psinergy.Link</strong> functions as a hyperlink (URL) shortener.</p>

    <p>Click the '<strong>Shorten Link</strong>' button, then simply paste the link into the Long URL text box. Then click '<strong>Shorten</strong>'.</p>

    <p>After creating the shortened link, a detail page is presented so that both the <strong>Title</strong> <u>and</u> <strong>Shortened URL</strong> can be copied together. Next, when it is pasted they'll be able to see what the short URL is referring to. It's also for your own reference.</p>

    <p>If the URL you are shrinking points directly to a file, such as a .PDF or .JPG, please rename the Title field after the shortened link is created. It will be set to Private until the Title is renamed, and Private field turned off. This is to ensure the link has a proper Title for the content before going public.</p>

    <p>All new shortened links are presented at the top row on the <strong>All Links</strong> page.</p>

    <p>Click '<strong>My Links</strong>' to view the your most recently shortened URLs.</p>

    <p>Click '<strong>All Links</strong>' to view everyone's most recently shortened URLs.</p>

    <p>The website will inform you if the URL you're trying to shorten was shortened already, either by you or someone else. This is so that the same short link is shared by everyone for the same online content.</p>

    <p>When entering tags/topics, enter the text you need for the topic, then press the enter or tab key. A grey badge will surround the topic name. You don't need to enter quotes when entering multiple words for a topic, example: "digital twin".</p>

    <p><strong>NOTE:</strong> Unfortunately, for websites that use Cloudflare or skill testing Captchas, this site is not able to acquire webpage titles at this time. Websites such as ResearchGate, ScienceDirect, Wiley, YouTube use these security methods or worse. Because of this, the Title may say "Title not available" or "Just a moment...".</p>

    <p>Titles can be edited - simply grab the related title from the original website. The public area of the site is cached for 10 minutes. So when you shorten a link, you have about 10 minutes to rename the Title.</p>

    <br />
    <h3>Maintenance</h3>

    <p>This website may undergo brief maintenance or software upgrades. When this occurs, link redirection may be offline for a short period of time. Notification of maintenance activities may be provided on Telegram.</p>

    <p>If the website goes down for any extended period of time, you agree to hold us harmless. There are no financial gains attached to this website.</p>

    <p>In case the site gets taken offline, well, thank you for your kind contributions.</p>

    <br />
    <h3>Website Features</h3>
    <p>
        <ul>
            <li>Condenses valid URLs into shareable URLs.</li>
            <li>The Title of the original website is stored with the shortened URL.</li>
            <li>The Shortened URL with the Title can be easily copied by clicking a button.</li>
            <li>Topics (tags) can be added for each shortened link.</li>
            <li>Titles and Topics can be updated.</li>
            <li>Shortened URLs can be deleted, if necessary. However, anywhere the link was previously shared will return a &quot;404 Not Found&quot; if clicked.</li>
            <li>The shortener checks if the original URL has been shortened already. If so, the existing record is shown to you.</li>
            <li>Shortened URLs are listed by most recent, or by views (most clicked) in descending order.</li>
            <li>Shortened links are searchable by Title and Topic.</li>
            <li>For Google/Brave/DuckDuckGo Search, and Google Patent Search, the search query is captured for the Title of the shortened link.</li>
            <li>Clicking a tag lists all shortened links with that tag.</li>
            <li>Shortened links can be set to Private. Only you can see your own private links. However, an administrator with database access can see those shortened links. So please stay on point.</li>
            <li>If a private shortened URL is shared, that short URL will still redirect normally.</li>
            <li>The blue Alias button can be used to jump to the shortened link and redirected to the original URL.</li>
            <li>The green Copy button is used to copy the Title, Short URL, and the list of Topics of a shortened link; which can be pasted anywhere for sharing.</li>
            <li>An RSS feed is provided which contains 50 most recent links.</li>
        </ul>
    </p>

    {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to see this page.</p>
    {% endif %}

     <!-- container end -->
  </div>

</main>

{% endblock %}