{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Help</strong></h2>
    
    <h3>Overview</h3>

    <p>This website functions as a hyperlink (URL) shortener.</p>

    <p>Simply paste your link into the URL box, then click <strong>Shorten</strong>.</p>

    <p>The shortened version of the URL you entered will be presented to you. Copy that link to make use of it anywhere.</p>

     <!-- container end -->
  </div>

</main>

{% endblock %}