{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Privacy</strong></h2>
    
    <h3>Privacy</h3>

	<p>This website may not be used for any malicious purposes. You must also comply with any Roku developer policies, terms of use, and privacy policies while using the Roku platform.</p>

	<h3>Privacy Policy</h3>

	<p>This website does not contain any tracking technology. If tracking technologies are added, it is your sole responsibility to comply with any and all privacy laws within the jurisdiction that the website is operating.</p>

	<p>The website does use basic browser cookie functionality to manage login sessions.</p>

<!-- container end -->
  </div>

</main>

{% endblock %}