{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Privacy</strong></h2>
    
    <h3>Privacy Policy</h3>

	<p>This website does not contain any tracking technology. If tracking technologies are added, it is your sole responsibility to comply with any and all privacy laws within the jurisdiction that the website operates.</p>

	<p>The website does use basic browser cookie functionality to manage login sessions.</p>

	<p>There is a click counter for all shortened URLs. IP addresses are not tracked.</p>

	<p>Signups to this website is by request only. No emails, manual or automated, are sent from this server.</p>

<!-- container end -->
  </div>

</main>

{% endblock %}