{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Privacy</strong></h2>
    
    <h3>Privacy Policy</h3><br />

	<p>This website does not contain any additional tracking technologies.</p>

	<p>This website uses basic browser cookie functionality to manage browser active login sessions.</p>

	<p>There is a click counter for all shortened URLs. Source IP addresses are not tracked.</p>

	<p>Signups to this website are by request only. No emails, manual or automated, are sent from this server.</p>

<!-- container end -->
  </div>

</main>

{% endblock %}