{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Terms</strong></h2>
    
    <h3>Terms of Use</h3><br />

	<p>This website may not be used for any malicious purposes. You must comply with all policies while using this service.</p>

	<p>The intent of this website is to provide the Psinergist research community with a URL shortening service. The community is able to share our own branded professional looking shortened links.</p>

	<p><strong>We're serious about sharing research.</strong></p>

	<p>When sharing a shortened link from this website, it carries with it the importance of trust and respect.</p>

	<p>Only approved Psinergist researchers will be given access.</p>

	<p>The shortened links are intended to be for websites, articles, journals, scientific papers, and those long search engine links... all related to the topic of <strong>Biodigital Convergence</strong>.</p>

	<p><u>Do not</u> shorten affiliate links or promote crypto-currency. If caught, the account will be disabled.</p>

	<p>The site is free. There will be no subscription.</p>

<!-- container end -->
  </div>

</main>

{% endblock %}