{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="mt-5"><strong>Terms</strong></h2>
    
    <h3>Terms of Use</h3><br />

	<p>This website and its users are serious about sharing important research.</p>

	<p><strong>The prime directives are to:</strong></p>
	<ul>
		<li>Enable researchers to share research as shortened links, with a branded professional look.</li>
		<li>Spread education and awareness about <u>Biodigital Convergence</u>.</li>
		<li>Share websites, articles, journals, scientific papers.</li>
		<li>Short links carry with it the importance of trust and respect.</li>
	</ul>

	<p></p>

	<p>This website may not be used for any malicious purposes. Please comply with all policies while using this service.</p>
	
	<p>This website is <u>free</u>. There will be no subscriptions.</p>

	<p>Only approved researchers will be given access.</p>

	<br />
	<h3>Maintenance</h3>

	<p>This website may undergo brief maintenance or software upgrades. When this occurs, link redirection may be offline for a short period of time. Notification of maintenance activities will be provided on Telegram.</p>

	<p>If the website goes down for any extended period of time, you agree to hold us harmless. There are no financial gains attached to this website.</p>

	<p>In case the site gets taken offline, well, thank you for your kind contributions.</p>


<!-- container end -->
  </div>

</main>

{% endblock %}