{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
	<div class="container">
		<p>&nbsp;</p>
		
		<h2 class="mt-5"><strong>Terms</strong></h2>

		<h3>Terms of Use</h3><br />

		<p>We're serious about sharing important research.</p>

		<p><strong>The prime directives are:</strong></p>
		<ul>
			<li>Curate and share trusted research information by professional looking condensed links.</li>
			<li>Spread education and awareness about <u>Biodigital Convergence</u>.</li>
			<li>Share websites, articles, journals, scientific papers, patents, and videos, etc.</li>
			<li>For educational use only. Fair use.</li>
		</ul>

		<p>This website may not be used for any malicious purposes. Please comply with all guidelines and policies while using this service.</p>

		<p>This website is <u>free</u>. No subscriptions.</p>

		<p>Only approved researchers will have access.</p>

<!-- container end -->
	</div>

</main>

{% endblock %}