{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<main class="flex-shrink-0">
	<div class="container" align="center">
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<h2 class="mt-5">Expand Yourself.</h2>

	{% if user.is_authenticated %}

	<p>Oh Hi, this is a URL shortener. Click GO to shorten one now.</p><br />
	<p><a href="{% url 'shortener-create' %}"><button class="btn btn-success rounded-pill px-3" type="button">__--== GO ==--__</button></a></p><br />

	{% else %}

	<p>Please login to begin.</p><br />
	<p><a href="{% url 'login' %}"><button class="btn btn-primary rounded-pill px-3" type="button">Login</button></a></p>

	{% endif %}
	</div>
</main>

{% endblock %}